<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button
        color="success"
        fill="clear"
        text="返回"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>我是button按钮</ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <!-- <ion-button color="danger">color按钮</ion-button> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon color="success" slot="icon-only" name="add"></ion-icon>
      文字右
    </ion-buttons>
    <ion-title>footer</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary">
        文字左
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
